name: GraalVM Native Image builds
on: [push, pull_request]
jobs:
  build:
    name: Native Image for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'liberica'
          java-version: '21'
          java-package: 'jdk+fx'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: maven
          native-image-job-reports: 'true'

      - name: Example step using Maven plugin  # https://graalvm.github.io/native-build-tools/latest/maven-plugin.html
        run: mvn -Pnative package
      
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: javafx-demo-${{ matrix.os }}
          path: target/javafx-demo*
